
</html>
<head>
    <title>No Access</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/noAccess.css" />
</head>

<header>
    <ul class="menu">
        <li><a href="http://localhost:3000/">Home</a>
        <li class="current"><a href="http://localhost:3000/members">Members</a></li>
    </ul>

    <h1 id="headerH1"> Greetings, World!</h1>

</header>


<body>

    <h1>You do not have access. Please sign up or log in......</h1>
</body>

</html>