#floatRight{
    float:right;
    margin:10px;
    width: 34%;
}


#editProfileWrapper {
    background-color: cyan;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    text-align: center;
    border: 25px solid orange;
    padding: 20px;
    height: auto;
    margin: 100px 100px 100px 100px;

}


#editProfileBody{
    display:flex;
    border:1px solid red; 
}


#left, #right{
    margin:5px;
    border:1px solid pink;
    width: 50%;
}


#name{
    color:red;
}
.editProfile{
    width:90%;
}

.editProfile input{
    background: -webkit-linear-gradient(lavender,
    royalBlue,
    #8178c9
   );
    color:white; 
    width: 30%;
    height:35px;
    margin:20px;
}

#pswdsMustMatch{
    color:red;
}