body{
    background-image: url("../photos/computerKeys.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*============================
     HEADER
=============================*/
@font-face {
    font-family: "Disko";
    src: url('../fonts/Disko.ttf');
 }

@font-face {
    font-family: "Bubblegum";
    src: url('../fonts/Bubblegum.ttf');
}


header {
    height: 160px;
    background-color: rgb(178, 121, 231);
    text-align: center;
    width:100.25%;
    margin:-9px 0px 30px -8px;
    padding:5px;
}

.current{
    background-color:rgb(239, 218, 232);
}


.headernavigation .menu,
.menu li {
    height:30px;
    border: 1px dashed blue;
    width: 50%;
}


.headernavigation {
    border: 2px solid rgb(168, 182, 233);
    background-color: rgb(184, 208, 241);							  
    border-radius: 6px;
    box-shadow: inset 2px -3px 1px rgba(250, 177, 182,.5),
                inset -3px 2px 1px rgba(248, 208, 117,.5);
} 


.menu li {
    list-style-type: none;
    text-align: center;
    background-image: linear-gradient(rgb(144, 187, 243),
                                      rgb(130, 213, 243));
    border-radius: 6px;
    box-shadow: inset 2px -3px 1px rgb(229, 136, 240),
                inset -3px 2px 1px rgb(231, 166, 231);
    width: 20%;
    padding: 5px;
}

.menu a {
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 1px magenta;
}

.headernavigation a {
    text-decoration: none;
    width:20%;
    color: #0000a0/*earth blue*/;
    text-transform: uppercase;
    margin: auto;  
}

 .menu, .menu ul{
    margin:0;
    padding:0;
    list-style: none;
}  
        
 #headerH1 {
    width: 35%;
    margin: 10px 10px 10px 33%;
    position: relative;
    top: -43%;
    font-size: 350%;
    font-family: "Bubblegum";
    background: -webkit-linear-gradient(lavender,
                royalBlue,
                #8178c9,
                silver,
                white,
                lavender,
                royalBlue,
                #8178c9,
                silver,
                white,
                lavender,
                royalBlue,
                #8178c9,
                silver,
                white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-stroke-color: blueviolet;
    -webkit-text-stroke-width: 1.5px;
 }

 #headerBtns{
    margin-top:-73px;
   
 }

 #headerBtns button{
     float: right;
     margin-right: 15px;
     height: 70px; 
     width: 82px;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
     background: -webkit-linear-gradient(lavender,
                royalBlue,
                #8178c9
               );
    color:white;
    margin:0px;
 }

 #loggedInAs{
    color:magenta;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top:-4px;
    right:257px;
    width:300px;
 }

 #profilePhoto #addProfilePhotoBtn{
     margin-left: 16px;
 }
 /*======================================
       PROFILE PHOTO
=======================================*/

.headerPhotoDiv,
.headerProfilePhoto{
    width: 135px;
    height: 135px; 
    border-radius: 50%;
}

.headerPhotoDiv{
    position:absolute;
    /* right: 494px; */
    right:2%;
    top:5px;
    margin-right: 20px;
    border: 5px dotted white;
  
}

